.footer {
  position: fixed;
  bottom: 0;
  left: 90px;
  right: 0;
  height: 40px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d1d5db;
  font-size: 12px;
  color: #444;
  z-index: 999;
  /* margin-top: 12px;
  padding-top: 10px;
  border-top: 1px solid #e5e7eb;
  font-size: 12px;
  color: #6b7280;
  text-align: center; */
}

.footer-name {
  font-weight: 600;
}